body {
  font-family: Helvetica, sans-serif;
  background-color: #ccc;
}
.title {
  font-size: 1.5em;
  padding: 10px;
}
.legend {
	margin: 0 auto;
	margin-top: 30px;
	background-color: #fff;
	width: 650px;
	padding: 10px;
	border-radius: 5px;
}
.legend div {
	margin: 15px 0px 15px 0px;
	font-size: 1.2em;
	font-weight: bold;
}
.legend span {
	padding-left: 20px;
}

#editor {
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  min-height: 500px;
	padding: 5px;
}

.pending {
}

.finished {
	text-decoration: line-through;
	color: #333;
}

.blocked {
	background-color: #fcc;
}

.unknown {
	font-style: italic;
	color: #555;
}

.group {
	font-style:italic;
	font-size: 1.2em;
}

.indent {
	padding-left: 15px;
}